*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}

.pb_50{
    padding-bottom: 50px;
}

.remove{
    display: none;
}

p{
    font-size: 70px;
}

.small{
    font-size: 20px;
}